
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor:default;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.section i{
    margin-right: 10px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

p, ul {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 4px solid #4CAF50;
}

ul li strong {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.section {
    margin-bottom: 30px;
}

.section:last-child {
    margin-bottom: 0;
}

/* Adicionar ao final do arquivo style.css */
.list-item {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 4px solid #4CAF50;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.list-item:hover {
    background-color: #e0f7fa;
    transform: scale(1.05);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}
